@model PhoneBookMVC.Models.Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Category</h4>
        @Html.HiddenFor(model => model.Id)
        @Html.ValidationSummary(true, "")

            @Html.LabelFor(model => model.Name)
            <div>
                @Html.EditorFor(model => model.Name )
                @Html.ValidationMessageFor(model=>model.Name,"")
            </div>

            <div >
                <input type="submit" value="Save"  />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
